<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.imposoft.twins">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SelectionGameModeActivity">
        </activity>

        <activity android:name=".GameActivity">
        </activity>

        <activity android:name=".SelectLevelActivity">
        </activity>

        <activity android:name=".Popup"
                  android:theme = "@style/AppTheme.PopupWindow"
        ></activity>

    </application>

</manifest>